.about {
  margin-top: 5%;
  align-items: center;
}

.meImg {
  justify-content: center;
  align-items: center;
}

.link {
  font-weight: bold;
}

.link :hover {
  color: #49a4f8;
}

@media screen and (max-width: 810px) {
  .about {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
  }

  .meImg {
    order: -1;
    max-width: 300px;
    margin-bottom: 1em;
  }
}
